#traefik
TRAEFIK_USER=user
TRAEFIK_PASSWORD=password

# POSTGRES - same value for username and password
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=secretpgpassword

# supertokens db
SUPERTOKENS_POSTGRESQL_CONNECTION_URI=postgresql://postgres:secretpgpassword@postgres:5432/postgres

# HASURA
# In development
# HASURA_GRAPHQL_DATABASE_URL=postgres://postgres:secretpgpassword@localhost:5432/postgres
# In Docker
HASURA_GRAPHQL_DATABASE_URL=postgres://postgres:secretpgpassword@postgres:5432/postgres

HASURA_GRAPHQL_JWT_SECRET='{ "jwk_url": "https://api.hawke.cloud/auth/jwt/jwks.json"}'
HASURA_GRAPHQL_ADMIN_SECRET=9mU3egEkYhhNiqEf33g6wPrJO4WWas9182Ou98xDiYrwwWqM4iu5av3wRnHV5su3


# Function server url
FUNCTION_SERVER_URL=https://cal.hawke.cloud/v1/functions


# APP URL based on domain and traefik address port
APP_CLIENT_URL=https://cal.hawke.cloud


# SMTP
AUTH_SMTP_HOST=https://your-cloudflare-tunnel
AUTH_SMTP_PORT=1025
AUTH_SMTP_USER=user
AUTH_SMTP_PASS=password
AUTH_SMTP_SENDER=no-reply@atomiclife.app
AUTH_SMTP_AUTH_METHOD=
AUTH_SMTP_SECURE=false
AUTH_SMTP_X_SMTPAPI_HEADER=


# CLIENT & APP
AUTH_CLIENT_URL=https://cal.hawke.cloud

STORAGE_ACCESS_KEY=storage-access-key-never-use-this-value
STORAGE_SECRET_KEY=storage-secret-key-never-use-this-value
BASIC_AUTH=your-own-basic-auth-password

# openai key
OPENAI_API_KEY=your-open-ai-key

# Google
GOOGLE_ClIENT_ID_IOS=your-googleClientIdIos

GOOGLE_CLIENT_ID_ANDROID=your-googleClientIdAndroid

GOOGLE_CLIENT_ID_WEB=646519699208-b6vrvm0n074025hh733tdep2g9bnl3h8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET_WEB=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
GOOGLE_CLIENT_ID_ATOMIC_WEB=646519699208-62pcc2cgbsqppb9rlsd7jqfaceb5kvmc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET_ATOMIC_WEB=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

# Email and domain
EMAIL=no-reply@atomiclife.app
DOMAIN=cal.hawke.cloud
HOST_NAME=cal.hawke.cloud

# KAFKA - change values in project/kafka/kafka/server-jaas.conf for PlainLoginModule
KAFKA_USERNAME=test
KAFKA_PASSWORD=testtest


#OPENSEARCH - generate a hash of password and add it to internal_user.yml
OPENSEARCH_USERNAME=nrock
OPENSEARCH_PASSWORD=$2b$12$0WClOsVcRSOCgDl/tA/oreDLV1WMca4T2HYIHab9zXS8G2GzmPvNC

# Zoom - custom key
ZOOM_PASS_KEY=user-created-pass-key
# base 64 string - create your own base64 string
ZOOM_SALT_FOR_PASS=nDyMBeZ+/k9UlDJeWvrJjQ==
# base 64 string - create your own
ZOOM_IV_FOR_PASS=aqFzTtwrFsDS3HXxAQtVtA==
ZOOM_CLIENT_ID=zoom-client-id
ZOOM_CLIENT_SECRET=zoom-client-secret

ZOOM_WEBHOOK_SECRET_TOKEN=your-zoom-webhook-token
NEXT_PUBLIC_ZOOM_CLIENT_ID=zoom-client-id

OPTAPLANNER_USERNAME=nrock
OPTAPLANNER_PASSWORD=Nrock127234!

# classification url
CLASSIFICATION_URL=http://classification

# optaplan callback url - AI Planner
OPTAPLAN_ADMIN_CALLBACK_URL=https://cal.hawke.cloud/v1/functions/post-process-calendar/onPostOptaCal/on-opta-plan-post-process-calendar-admin

# how long should the AI scheduler should run
OPTAPLANNER_DURATION=90000
OPTAPLANNER_SHORT_DURATION=40000

# handshake
API_TOKEN=Nrock127234!
